@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(1, 163, 207);
  --foreground: rgb(1, 107, 135);
}

@media (prefers-color-scheme: dark) {
  :root {
  --background: #01a3cf;
  --foreground: #016b87;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Comfortaa';
}